@font-face {
    font-family: fontAwesome;
    src: url(../fonts/fontawesome-webfont.woff);
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/** Botões  **/
.button-tips-close{
	background-image: linear-gradient(to bottom,rgb(212,60,60),rgb(180,51,51));
	color:#fff;
	text-align: center;
	padding:5px;
	border-radius:5px;
	border:0px;
	margin-top:5px;
	margin-right:5px;
	float:right;
}

#main-emergency >.button-tips{
	background-image: linear-gradient(to bottom,rgb(212,60,60),rgb(180,51,51));
	color:#fff;
	text-align: center;
	font-size: 20px;
	width:160px;
	height:80px;
	padding:10px;
	border-radius:15px;
	margin-left: 20px;
    margin-top: 430px;
	border:0px;
	    position: relative;
}

.button-tips{
	background-image: linear-gradient(to bottom,rgb(212,60,60),rgb(180,51,51));
	color:#fff;
	text-align: center;
	font-size: 20px;
	width:160px;
	height:80px;
	padding:10px;
	border-radius:15px;
	margin-left: 20px;
    margin-top: 430px;
	border:0px;
	    position: relative;
}

#main-emergency >.button-alarm{
	background-image: linear-gradient(to bottom,rgb(212,60,60),rgb(180,51,51));
	color:#fff;
	text-align: center;
	font-size: 20px;
	width:160px;
	height:80px;
	padding:10px;
	border-radius:15px;
	margin-left: 10px;
    margin-top: 430px;
	border:0px;
	 position: relative;
	
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width:200px;
	height:200px;
    text-align: center;
    text-decoration: none;
   
    font-size: 35px;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	border-radius:50%;
}

.button3 {
    background-image: linear-gradient(to bottom,rgb(212,60,60),rgb(180,51,51));
    color: #fff; 
    border: 5px solid #222222;
    line-height: initial;
    position: absolute;
    margin-top: 116px;
   margin-left: 85px;
    z-index: 5;
}

.button3:first-line{
	font-size: 40px;
}
	
}

.button3:hover {
    background-color: #f44336;
    color: white;
}


.btn-emergency-activate {
    background-image: linear-gradient(to bottom,rgb(221,221,221),rgb(153,153,153));
    color: #BF3535; 
    border: 5px solid #222222;
       line-height: initial;
    position: absolute;
    margin-top: 116px;
   margin-left: 85px;
    z-index: 5;
}

.btn-emergency-activate:first-line{
	font-size: 40px;
}
	
}

.btn-emergency-activate:hover {
    background-color: #f44336;
    color: white;
}


.btn-chat-emergency{
	background:url(../images/buttons/btn-chat.png);
	background-size:cover;
	width: 152px;
    height: 200px;
    border: 0px;
    margin-left: 20px;
    position: absolute;
	
}

.btn-call-contact{
	background:url(../images/buttons/btn-call-contact.png);
	background-size:cover;
	width: 152px;
    height: 200px;
    border: 0px;
    flex: 3;
    position: absolute;
    margin-left: 198px;
	
	
}
.btn-call-emergency{
	background:url(../images/buttons/btn-call-emergency.png);
	background-size:cover;
	    width: 330px;
    height: 200px;
    position: absolute;
    margin-top: 210px;
    margin-left: 20px;
    border: 0px;
}


/** fim botões **/

/** tip box **/

#tip-box1{
	display: flex;
	
}
#titles-tips{
	padding:5px;
	font-size:20px;
	color:#D13A3A;
	
}


/** fim tip box **/

/** Estruturas **/
body{
	width:100%;
	height:100%;
}

#tips{
	background-color:#F7F7F7;
	border:3px solid #8F2929;
	width:90%;
	height:90%;
	margin-top: 10px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
	border-radius:5px;
}
#main-emergency{
	
	
	height:100%;
	position:relative;
	margin-top:5%;
	    display: flex;
	margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}
#estrutura{
height:100%;
width:100%;
}

#main-area{
	margin-top:5%;
	height:100%;
	overflow:hidden;
	
}


header{
	
	background-image: linear-gradient(to bottom,rgb(212,60,60),rgb(180,51,51));
	height:100%;
	width:100%;
	display: flex;
     
	
}

section{
	width:100%;
	height:70%;
	overflow:scroll;
}
.box{
	
	display: flex;
            justify-content: space-between;
}

#message{
	
	color:#ffff;
	font-family: fontAwesome;
		line-height: 1.5;
		font-weight: 400;
	position:relative;
	text-align:left;
	width:70%;
	padding:10px;
}
#config{
	
	background-image: linear-gradient(to bottom,rgb(192,44,44),rgb(142,40,40));
	height:100%;
	width:110px;
	padding: 10px;
	    text-align: -webkit-center;
	
	
}
#logo{
	
    background:url(../img/logo.png) no-repeat center top;
	background-size: cover;	/* 170px x 200px */
   
    height:225px;                   /* text area height */
    width:235px;                   /* text area width */
  margin: 0 auto;
   
}
/** Formulários **/
#formlogin{
	position:absolute;
	width:80%;
	
}
#loginForm{
	
	    margin: 0 auto;
    width: 80%;
	
	
}
.title-field{
	text-align:left;
	font-size: 1.3em;
	color:#8E2727;
	    font-family: fontAwesome;
		line-height: 1.5;
		font-weight: 400;
}
.textfield-padrao{
	margin: 0 auto;
	width:100%;
	border-radius:8px !important;
	border: 3px solid #555555;
	color:#444444;
	padding: 5px 10px 6px;
}

/** checkbox **/
input[type=checkbox] {
    visibility: hidden;
}

.squaredFour {
    width: 20px;    
    margin: 20px auto;
    position: relative;
}

.squaredFour label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    border-radius: 4px;

    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.squaredFour label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squaredFour label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
}

.squaredFour input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}


/** Fim checkbox **/

 
.btn-padrao{
	background-image: linear-gradient(to bottom,rgb(212,60,60),rgb(180,51,51));
	color:#ffffff;
	border-radius:8px !important;
	border: 3px solid #555555;
	font-size:1.2em;
	padding:0px 10px 0px 10px;
	float:right;
	margin-left:3%;
}



/** Carregando CSS **/
#intro{
		
        top: 25%;
		position: absolute;
}
#loader {
  position:relative;
   left: 40%;
  top:100%;
  z-index:1;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #D43C3C;
  width: 35px;
  height: 35px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
